body {
  width: 80%;
  margin: 40px auto;
  text-align: center;
  font-family: sans-serif;
}

h1 {
  font-size: 32px;
}

#input {
  width: 225px;
  font-size: 30px;
  text-align: right;
}

#input:hover {
  background: #ffe;
  cursor: pointer;
}

.mode-switch {
  font-size: 16pt;
  padding: 5px;
  margin: 10px;
  width: 150px;
}
